# Dependencies
node_modules

# Build outputs
dist
build

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Coverage
coverage

# Prisma
apps/api/prisma/dev.db

# Misc
*.tsbuildinfo